<form class="form-inline px-md-0">
    <div class="form-group mb-3">
        <div class="input-group mr-md-2">
            <input id="addNewUser_username" type="text" class="form-control" placeholder="{{ lang('settings.users.placeholder') }}">
        </div>
        <div class="input-group mr-md-2">
            <select id="addNewUser_role" class="custom-select">
                <option selected value="default">{{ lang('settings.users.select.roles') }}</option>
                {% for role in roles %}
                    {% if role.rank > currentRank %}
                        <option value="{{ role.rank }}">{{ role.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="input-group">
            <button class="btn btn-primary" type="button" onclick="addNewUser();">{{ lang('general.button.add') }}</button>
        </div>
    </div>
</form>

<table id="users_table" class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>{{ lang('settings.users.thead.rank') }}</th>
            <th>{{ lang('settings.users.thead.username') }}</th>
            <th>{{ lang('settings.users.thead.role') }}</th>
            <th>{{ lang('settings.users.thead.editRole') }}</th>
            <th>{{ lang('settings.users.thead.delete') }}</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>0</td>
            <td>admin</td>
            <td>{{ lang('settings.users.body.owner') }}</td>
            <td>
                <button class="btn btn-primary btn-sm float-right" disabled="disabled">
                    <i style="pointer-events: none;" class="far fa-edit"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-danger btn-sm float-right" disabled="disabled">
                    <i style="pointer-events: none;" class="far fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% for user in users %}
        <tr id="{{ user.username }}">
            <td>{{ user.rank }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>
                <button
                    class="btn btn-primary btn-sm float-right"
                    data-toggle="modal" data-target="#editUserRole"
                    onclick="g_username = $('#{{ user.username }}')" {# Set global variable in setting.js with user.username value #}
                    {% if user.rank <= currentRank %}disabled="disabled"{% endif %}
                >
                    <i style="pointer-events: none;" class="far fa-edit"></i>
                </button>
            </td>
            <td>
                <button
                    class="btn btn-danger btn-sm float-right"
                    onclick="deleteUser('{{ user.username }}');"
                    {% if user.rank <= currentRank %}disabled="disabled"{% endif %}
                >
                    <i style="pointer-events: none;" class="far fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
