<form action="" method="post" class="col-md-12 px-md-0">
    <div class="form-group">
        <input type="text" id="add_banned-players" name="add_banned-players" class="form-control" required="required" placeholder="Ajouter un joueur à la list">
    </div>
    <div class="form-group">
        <input type="text" id="reason" name="reason" class="form-control" placeholder="Raison">
    </div>
    <input type="hidden" name="token" value="{{token}}">
    <div class="form-group">
        <button class="btn btn-primary btn-sm" type="submit">Ajouter</button>
    </div>
</form>

<table class="table table-striped table-sm table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>UUID</th>
            <th>Infos</th>
            <th>Supprimer</th>
        </tr>
    </thead>

    <tbody>
        {% for player in bannedPlayers %}
            <tr id="{{player.name}}">
                <td class="align-middle">{{player.name}}</td>
                <td class="align-middle">{{player.uuid}}</td>
                <td class="align-middle">
                    Le
                    <strong class="text-primary">{{player.created|date("d/m/Y")}}</strong>
                    à
                    <strong class="text-primary">{{player.created|date("h:i")}}</strong><br/>
                    Par :
                    {{player.source}}<br/>
                    Pour :
                    {{player.reason}}
                </td>
                <td class="align-middle">
                    <button class="btn btn-danger btn-sm float-right mx-auto delete" data-username="{{player.name}}">
                        <i style="pointer-events: none;" class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
