<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-block d-sm-block d-md-none w-100">
    <span class="navbar-brand">{{title}}</span>
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar-burger">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-burger">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if route == "dashboard" %}active{% endif %}">
                <a class="nav-link" href="{{ uri("dashboard") }}">{{ lang('navbar.dashboard') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ lang('navbar.plugins') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ uri("config") }}">{{ lang('navbar.config') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ uri("worlds") }}">{{ lang('navbar.worlds') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ uri("players") }}">{{ lang('navbar.players') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ lang('navbar.scheduled') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ lang('navbar.transfert') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ uri("settings") }}">{{ lang('navbar.setting') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ uri("logout") }}">{{ lang('navbar.logout') }}</a>
            </li>
        </ul>
    </div>
</nav>
