<nav id="sidebar" class="col-md-2 overflow d-none d-md-block">
    <div class="row p-md-2 mb-4 d-md-flex flex-md-column">
        <p class="m-0 pl-3">
            <span class="text-primary">■</span>
            {{ currentUser }}</p>
        <a href="{{ uri("logout") }}" class="m-0 pl-3 text-muted">&gt; Déconnexion</a>
    </div>
    <a href="{{ uri("dashboard") }}" class="text-reset text-decoration-none">
        <div class="row p-md-2 pl-md-4 mb-md-3 {% if route == "dashboard" %}bg-secondary{% endif %}">
            <i class="fas fa-tachometer-alt pr-md-1 d-md-flex align-items-md-center"></i>
            <span class="pl-md-4">Tableau de bord</span>
        </div>
    </a>
    <a href="/plugins" class="text-reset text-decoration-none not-allowed wip">
        <div class="row p-md-2 pl-md-4 mb-md-3">
            <i class="fas fa-cubes pr-md-1 d-md-flex align-items-md-center"></i>
            <span class="pl-md-4">Plugins</span>
        </div>
    </a>
    <a href="{{ uri("config") }}" class="text-reset text-decoration-none">
        <div class="row p-md-2 pl-md-4 mb-md-3 {% if route == "config" %}bg-secondary{% endif %}">
            <i class="fas fa-cog pr-md-1 d-md-flex align-items-md-center"></i>
            <span class="pl-md-4">Configuration</span>
        </div>
    </a>
    <a href="{{ uri("worlds") }}" class="text-reset text-decoration-none">
        <div class="row p-md-2 pl-md-4 mb-md-3 {% if route == "worlds" %}bg-secondary{% endif %}">
            <i class="fas fa-globe-africa pr-md-1 d-md-flex align-items-md-center"></i>
            <span class="pl-md-4">Gestion des mondes</span>
        </div>
    </a>
    <a href="{{ uri("players") }}" class="text-reset text-decoration-none">
        <div class="row p-md-2 pl-md-4 mb-md-3 {% if route == "players" %}bg-secondary{% endif %}">
            <i class="fas fa-user-friends d-md-flex align-items-md-center"></i>
            <span class="pl-md-4">Gestion des joueurs</span>
        </div>
    </a>
    <a href="/scheduled-tasks" class="text-reset text-decoration-none not-allowed wip">
        <div class="row p-md-2 pl-md-4 mb-md-3">
            <i class="fas fa-calendar-alt pr-md-1 d-md-flex align-items-md-center"></i>
            <span class="pl-md-4">Tâches planifiées</span>
        </div>
    </a>
    <a href="/file-export" class="text-reset text-decoration-none not-allowed wip">
        <div class="row p-md-2 pl-md-4 mb-md-3">
            <i class="fas fa-file-export pr-md-1 d-md-flex align-items-md-center"></i>
            <span class="pl-md-4">Transfert de fichiers</span>
        </div>
    </a>
    <a href="{{ uri("settings") }}" class="text-reset text-decoration-none">
        <div class="row p-md-2 pl-md-4 mb-md-3 {% if route == "settings" %}bg-secondary{% endif %}">
            <i class="fas fa-users-cog pr-md-1 d-md-flex align-items-md-center"></i>
            <span class="pl-md-4">Options</span>
        </div>
    </a>
</nav>
