<div class="modal fade" id="changeVersion" tabindex="-1" role="dialog" aria-labelledby="changeVersionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeVersionLabel">Choisisez votre version</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h5>Vanilla Release</h5>
                <div class="input-group">
                    <select class="custom-select" name="release" id="release">
                        <option selected value="default" disabled="disabled">-- Choisir une version --</option>
                        {% for release in vanilla.release %}
                            <option value="Release_{{release}}">
                                Release {{release}}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" onclick="selectVersion('release');">Choisir</button>
                    </div>
                </div>

                <h5 class="mt-2">Snapshot</h5>
                <div class="input-group">
                    <select class="custom-select" name="snapshot" id="snapshot">
                        <option selected value="default" disabled="disabled">-- Choisir une version --</option>
                        {% for snapshot in vanilla.snapshot %}
                            <option value="Snapshot_{{snapshot}}">
                                Snapshot {{snapshot}}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" onclick="selectVersion('snapshot');">Choisir</button>
                    </div>
                </div>

                <h5 class="mt-4">Spigot</h5>
                <div class="input-group">
                    <select class="custom-select" name="spigot" id="spigot">
                        <option selected value="default" disabled="disabled">-- Choisir une version --</option>
                        {% for spigot in otherVersions.spigot %}
                            <option value="Spigot_{{spigot.id}}">
                                Spigot {{spigot.id}}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success not-allowed" type="button" onclick="selectVersion('spigot');">Choisir</button>
                    </div>
                </div>

                <h5 class="mt-2">Minecraft Forge</h5>
                <div class="input-group">
                    <select class="custom-select not-allowed" name="forge" id="forge">
                        <option selected value="default" disabled="disabled">-- Choisir une version --</option>
                        {% for forge in otherVersions.forge %}
                            <option value="Forge_{{forge.id}}">
                                Forge {{forge.id}}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success not-allowed" type="button" onclick="selectVersion('forge');">Choisir</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
