<div class="modal fade" id="changeVersion" tabindex="-1" role="dialog" aria-labelledby="changeVersionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeVersionLabel">{{ lang('dashboard.modal.selectVersion.title') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h5>{{ lang('dashboard.modal.selectVersion.body.vanilla') }}</h5>
                <div class="input-group">
                    <select class="custom-select" name="release" id="release">
                        <option selected value="default" disabled="disabled">{{ lang('dashboard.modal.selectVersion.option.chooseVersion') }}</option>
                        {% for release in vanilla.release %}
                            <option value="Release_{{release}}">
                                Release {{release}}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" onclick="selectVersion('release');">{{ lang('general.button.select') }}</button>
                    </div>
                </div>

                <h5 class="mt-2">{{ lang('dashboard.modal.selectVersion.body.snapshot') }}</h5>
                <div class="input-group">
                    <select class="custom-select" name="snapshot" id="snapshot">
                        <option selected value="default" disabled="disabled">{{ lang('dashboard.modal.selectVersion.option.chooseVersion') }}</option>
                        {% for snapshot in vanilla.snapshot %}
                            <option value="Snapshot_{{snapshot}}">
                                Snapshot {{snapshot}}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" onclick="selectVersion('snapshot');">{{ lang('general.button.select') }}</button>
                    </div>
                </div>

                <h5 class="mt-4">{{ lang('dashboard.modal.selectVersion.body.spigot') }}</h5>
                <div class="input-group">
                    <select class="custom-select" name="spigot" id="spigot">
                        <option selected value="default" disabled="disabled">{{ lang('dashboard.modal.selectVersion.option.chooseVersion') }}</option>
                        {% for spigot in otherVersions.spigot %}
                            <option value="Spigot_{{spigot.id}}">
                                Spigot {{spigot.id}}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success not-allowed" type="button" onclick="selectVersion('spigot');">{{ lang('general.button.select') }}</button>
                    </div>
                </div>

                <h5 class="mt-2">{{ lang('dashboard.modal.selectVersion.body.forge') }}</h5>
                <div class="input-group">
                    <select class="custom-select not-allowed" name="forge" id="forge">
                        <option selected value="default" disabled="disabled">{{ lang('dashboard.modal.selectVersion.option.chooseVersion') }}</option>
                        {% for forge in otherVersions.forge %}
                            <option value="Forge_{{forge.id}}">
                                Forge {{forge.id}}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success not-allowed" type="button" onclick="selectVersion('forge');">{{ lang('general.button.select') }}</button>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">{{ lang('general.button.cancel') }}</button>
            </div>
        </div>
    </div>
</div>
