{% extends "layout/base.html.twig" %}

{% block content %}
    {% if errors in flash("alert") %}
        <div class="alert alert-danger" role="alert">
            {{errors}}
        </div>
    {% endif %}
    {% if successes in flash("success") %}
        <div class="alert alert-success" role="alert">
            {{successes}}
        </div>
    {% endif %}

    <section class="row mt-4 ml-2">
        <div class="col-md-6">
            <h4 class="title mb-3">Ajouter ou supprimer un co-admnistrateur</h4>
            <form action="" method="post">
                <div class="form-group">
                    <label for="coAdminInput">Nom du Co-Administrateur</label>
                    <div class="input-group">
                        <input type="text" id="coAdminInput" name="coAdminInput" class="form-control" aria-describedby="coAdminInputHelp" required="required">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Ajouter</button>
                        </div>
                    </div>
                    <span id="coAdminInputHelp" class="form-text text-muted">Un mot de passe sera généré.</span>
                </div>
            </form>
        </div>
    </section>

    <section class="row mt-4 ml-2">
        <div class="col-6">
            <table class="table table-striped table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Modifier les droits</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>

                <tbody>
                {% for coAdmin in coAdmins %}
                    <tr id="{{coAdmin.id}}">
                        <td>{{coAdmin.username}}</td>
                        <td><button class="btn btn-primary btn-sm float-right"><i class="far fa-edit"></i></button></td>
                        <td><button class="btn btn-danger btn-sm float-right" onclick="deleteCoAdmin({{coAdmin.id}}, '{{token}}');"><i class="far fa-trash-alt"></i></button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% if password != false %}
        {% include "Includes/Modals/passwordModal.html.twig" %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/coAdmin.js"></script>
    {% if password != false %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
        <script>new ClipboardJS('.btn');</script>
        <script>$('#passwordModal').modal('toggle');</script>
    {% endif %}
{% endblock %}