{% extends "layout/base.html.twig" %}

{% block content %}
    {% for errors in flash("alert") %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{errors}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for successes in flash("success") %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{successes}}
        </div>
    {% endfor %}

    <section class="row m-4">
        <div class="col-md-6">
            <h4 class="title mb-3">Ajouter un monde !</h4>
            <form enctype="multipart/form-data" action="" method="post">
                <div class="input-group">
                    <div class="custom-file" lang="fr">
                        <input type="file" name="world" class="custom-file-input">
                        <label class="custom-file-label" for="inputGroupFile04">Choisir un fichier...</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-success btn-sm" type="submit">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="row m-4">
        <div class="col-6">
            <table class="table table-striped table-sm table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Monde</th>
                        <th>Télécharger</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>

                <tbody>
                    {% for world in worlds %}
                        <tr>
                            <td>{{world}}</td>
                            <td>
                                <form action="" method="post">
                                    <input type="hidden" name="worldName" value="{{world}}">
                                    <button id="download" class="btn btn-primary btn-sm float-right">
                                        <i class="fas fa-download"></i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <button id="delete" class="btn btn-danger btn-sm float-right">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <input id="token" type="hidden" value="{{token}}">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="assets/js/worlds.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        });
    </script>
{% endblock %}
