{% extends "layout/base.html.twig" %}

{% block content %}
    {% for errors in flash("alert") %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{errors}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for successes in flash("success") %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{successes}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <section class="row mt-4">
        <div class="col-md-6">
            <h4 class="title mb-3">{{ lang('worlds.add') }}</h4>
            <form enctype="multipart/form-data" action="{{ uri("upload_world") }}" method="post">
                <div class="input-group">
                    <div class="custom-file" lang="fr">
                        <input type="file" name="world" class="custom-file-input">
                        <label class="custom-file-label" for="inputGroupFile04">{{ lang('worlds.chooseFile') }}</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-success btn-sm" type="submit">{{ lang('general.button.add') }}</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="row mt-4">
        <div class="col-6">
            <table class="table table-striped table-sm table-bordered table-dark">
                

                <thead>
                    <tr>
                        <th>{{ lang('worlds.thead.world') }}</th>
                        <th>{{ lang('worlds.thead.download') }}</th>
                        <th>{{ lang('worlds.thead.delete') }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for world in worlds %}
                        <tr id="{{ world }}">
                            <td>{{ world|replace({'_': ' '}) }}</td>
                            <td>
                                <form action="{{ uri("download_world") }}" method="post">
                                    <input type="hidden" name="worldName" value="{{ world }}">
                                    <input type="hidden" id="token" name="token" value="{{ csrf_token() }}">
                                    <button id="download" class="btn btn-primary btn-sm float-right">
                                        <i class="fas fa-download"></i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm float-right delete" data-worldname="{{ world }}">
                                    <i style="pointer-events: none;" class="far fa-trash-alt"></i>
                                    <spinning-dots class="d-none" style="width:12px;stroke-width:1px;color:#FFF;" dots="5"></spinning-dots>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="{{ uri("dashboard") }}assets/js/worlds.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        });
    </script>
{% endblock %}
